.search-icon {
    width: 2.3rem;
}

.search-icon-container {
    position: relative;
    flex-shrink: 0;
}

/* gives a wider hit area for the 3 people that will notice the animation : ) */
.search-icon-container::before {
    content: '';
    position: absolute;
    inset: -1rem;
}

.search-icon-container:hover > .search-icon {
    animation: searchIconHover 2.9s forwards;
}

@keyframes searchIconHover {
    0%, 39% { translate: 0 0; }
    20% { scale: 1.3; }
    40% { scale: 1; }
    50% { translate: -30% 30%; }
    70% { translate: 30% -30%; }
    90% { translate: -30% -30%; }
    100% { translate: 0 0; }
}

.search {
    transition: border-color .2s;
    position: relative;
}

.search:hover {
    border-color: var(--color-text-subdue);
}

.search:focus-within {
    border-color: var(--color-primary);
}

.search:focus-within kbd {
    display: none;
}

.search-input {
    border: 0;
    background: none;
    width: 100%;
    height: 5rem;
    font: inherit;
    outline: none;
    color: var(--color-text-highlight);
}

.search-input::placeholder {
    color: var(--color-text-base-muted);
    opacity: 1;
}

.search-bangs { display: none; }

.search-bang {
    border-radius: calc(var(--border-radius) * 2);
    background: var(--color-widget-background-highlight);
    padding: 0.3rem 1rem;
    flex-shrink: 0;
    font-size: var(--font-size-h5);
    animation: searchBangsEntrance .3s cubic-bezier(0.25, 1, 0.5, 1) backwards;
}

@keyframes searchBangsEntrance {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
}

.search-bang:empty {
    display: none;
}

.search-engines { display: none; }

.search-engine-tag {
    border-radius: calc(var(--border-radius) * 2);
    background: var(--color-widget-background-highlight);
    padding: 0.3rem 1rem;
    flex-shrink: 0;
    font-size: var(--font-size-h5);
    color: var(--color-text-subdue);
    cursor: default;
    user-select: none;
}

.search-engine-tag:empty {
    display: none;
}

.search-suggestions {
    display: none;
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.8rem;
    padding: 0.5rem;
    background: var(--color-widget-background-highlight);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.search-suggestions.search-suggestions-visible {
    display: block;
}

.search-suggestion {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 1rem;
    border-radius: calc(var(--border-radius) * 0.75);
    cursor: pointer;
    color: var(--color-text-subdue);
}

.search-suggestion-icon {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    border-radius: 0.3rem;
}

.search-suggestion-title {
    font-size: var(--font-size-h5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-suggestion:hover,
.search-suggestion.search-suggestion-selected {
    background: var(--color-widget-background);
    color: var(--color-text-highlight);
}
